Repository kubernetes-csi/external-snapshotter, pull requests merged in 2019-08, with the labels that each got.

#156 Cherry-pick: Check if ListSnapshots is supported during GetSnapshotStatus
  pkg/snapshotter/snapshotter.go
  pkg/snapshotter/snapshotter_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note, size/L

#157 Prow update master
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, release-note-none, size/M

#158 Add changelog for v1.2.1 release
  CHANGELOG-1.2.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, release-note-none, size/XS
