Repository kubernetes-csi/external-snapshotter, pull requests merged in 2019-07, with the labels that each got.

#130 minimize rbac permission by setting secrets as optional
  deploy/kubernetes/rbac.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, size/S

#137 log csiTimeout will while starting snapshotter
  cmd/csi-snapshotter/main.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, size/XS

#129 Leader election lock name should include driver name
  cmd/csi-snapshotter/main.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, release-note, size/XS

#138 Check if ListSnapshot is supported during GetSnapshotStatus
  pkg/snapshotter/snapshotter.go
  pkg/snapshotter/snapshotter_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note, size/L

#143 Prow update
  release-tools/build.make
  release-tools/prow.sh
  release-tools/travis.yml
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, release-note-none, size/L

#145 update release-tools
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/XS

#146 update release-tools
  release-tools/build.make
  release-tools/prow.sh
  release-tools/travis.yml
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/L
