Repository kubernetes-csi/external-snapshotter, pull requests merged in 2019-05, with the labels that each got.

#119 fix TODO use time.Time for createSnapshot & solute conflict
  Gopkg.lock
  pkg/controller/csi_handler.go
  pkg/controller/framework_test.go
  pkg/controller/snapshot_controller.go
  pkg/controller/snapshot_create_test.go
  pkg/controller/snapshot_ready_test.go
  pkg/snapshotter/snapshotter.go
  pkg/snapshotter/snapshotter_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, size/L

#122 Update deployment images to v1.1.0
  deploy/kubernetes/setup-csi-snapshotter.yaml
Labels: approved, cncf-cla: yes, kind/bug, lgtm, release-note-none, size/XS

#123 Add groupName in doc.go when generating files
  cmd/csi-snapshotter/main.go
  pkg/apis/volumesnapshot/v1alpha1/doc.go
  pkg/apis/volumesnapshot/v1alpha1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/doc.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/fake/doc.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/doc.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/clientset/versioned/typed/volumesnapshot/v1alpha1/doc.go
  pkg/client/clientset/versioned/typed/volumesnapshot/v1alpha1/fake/doc.go
  pkg/client/clientset/versioned/typed/volumesnapshot/v1alpha1/fake/fake_volumesnapshot.go
  pkg/client/clientset/versioned/typed/volumesnapshot/v1alpha1/fake/fake_volumesnapshot_client.go
  pkg/client/clientset/versioned/typed/volumesnapshot/v1alpha1/fake/fake_volumesnapshotclass.go
  pkg/client/clientset/versioned/typed/volumesnapshot/v1alpha1/fake/fake_volumesnapshotcontent.go
  pkg/client/clientset/versioned/typed/volumesnapshot/v1alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/volumesnapshot/v1alpha1/volumesnapshot.go
  pkg/client/clientset/versioned/typed/volumesnapshot/v1alpha1/volumesnapshot_client.go
  pkg/client/clientset/versioned/typed/volumesnapshot/v1alpha1/volumesnapshotclass.go
  pkg/client/clientset/versioned/typed/volumesnapshot/v1alpha1/volumesnapshotcontent.go
  pkg/client/informers/externalversions/factory.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/client/informers/externalversions/volumesnapshot/interface.go
  pkg/client/informers/externalversions/volumesnapshot/v1alpha1/interface.go
  pkg/client/informers/externalversions/volumesnapshot/v1alpha1/volumesnapshot.go
  pkg/client/informers/externalversions/volumesnapshot/v1alpha1/volumesnapshotclass.go
  pkg/client/informers/externalversions/volumesnapshot/v1alpha1/volumesnapshotcontent.go
  pkg/client/listers/volumesnapshot/v1alpha1/expansion_generated.go
  pkg/client/listers/volumesnapshot/v1alpha1/volumesnapshot.go
  pkg/client/listers/volumesnapshot/v1alpha1/volumesnapshotclass.go
  pkg/client/listers/volumesnapshot/v1alpha1/volumesnapshotcontent.go
  pkg/controller/framework_test.go
  pkg/controller/snapshot_controller.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, release-note, size/L
