Repository kubernetes-csi/external-snapshotter, pull requests merged in 2019-11, with the labels that each got.

#182 Split snapshot controller using beta APIs
  Makefile
  cmd/csi-snapshotter/Dockerfile
  cmd/csi-snapshotter/main.go
  cmd/snapshot-controller/Dockerfile
  cmd/snapshot-controller/main.go
  deploy/kubernetes/csi-snapshotter/README.md
  deploy/kubernetes/csi-snapshotter/rbac-csi-snapshotter.yaml
  deploy/kubernetes/csi-snapshotter/rbac-external-provisioner.yaml
  deploy/kubernetes/csi-snapshotter/setup-csi-snapshotter.yaml
  deploy/kubernetes/snapshot-controller/rbac-snapshot-controller.yaml
  deploy/kubernetes/snapshot-controller/setup-snapshot-controller.yaml
  examples/kubernetes/snapshot.yaml
  examples/kubernetes/snapshotclass.yaml
  examples/kubernetes/storageclass.yaml
  pkg/common-controller/framework_test.go
  pkg/common-controller/snapshot_controller.go
  pkg/common-controller/snapshot_controller_base.go
  pkg/common-controller/snapshot_controller_test.go
  pkg/common-controller/snapshot_create_test.go
  pkg/common-controller/snapshot_delete_test.go
  pkg/common-controller/snapshot_finalizer_test.go
  pkg/common-controller/snapshot_update_test.go
  pkg/controller/snapshot_controller.go
  pkg/sidecar-controller/csi_handler.go
  pkg/sidecar-controller/snapshot_controller.go
  pkg/sidecar-controller/snapshot_controller_base.go
  pkg/snapshotter/snapshotter.go
  pkg/snapshotter/snapshotter_test.go
  pkg/utils/util.go
  pkg/utils/util_test.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, kind/feature, lgtm, release-note, size/XXL

#191 Add sidecar-controller unit tests
  pkg/sidecar-controller/content_create_test.go
  pkg/sidecar-controller/framework_test.go
  pkg/sidecar-controller/snapshot_controller_test.go
  pkg/sidecar-controller/snapshot_delete_test.go
  pkg/sidecar-controller/snapshot_finalizer_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, size/XXL

#192 Update snapshot-controller and csi-snapshotter images to v2.0.0-rc2
  deploy/kubernetes/csi-snapshotter/setup-csi-snapshotter.yaml
  deploy/kubernetes/snapshot-controller/setup-snapshot-controller.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, release-note-none, size/XS

#188 master: update release-tools
  release-tools/README.md
  release-tools/build.make
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
  release-tools/travis.yml
  release-tools/update-vendor.sh
  release-tools/verify-go-version.sh
  release-tools/verify-vendor.sh
  vendor/golang.org/x/sys/unix/mkasm_darwin.go
  vendor/golang.org/x/sys/unix/mkpost.go
  vendor/golang.org/x/sys/unix/mksyscall.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc64.go
  vendor/golang.org/x/sys/unix/mksyscall_solaris.go
  vendor/golang.org/x/sys/unix/mksysctl_openbsd.go
  vendor/golang.org/x/sys/unix/mksysnum.go
  vendor/golang.org/x/sys/unix/types_aix.go
  vendor/golang.org/x/sys/unix/types_darwin.go
  vendor/golang.org/x/sys/unix/types_dragonfly.go
  vendor/golang.org/x/sys/unix/types_freebsd.go
  vendor/golang.org/x/sys/unix/types_netbsd.go
  vendor/golang.org/x/sys/unix/types_openbsd.go
  vendor/golang.org/x/sys/unix/types_solaris.go
  vendor/golang.org/x/text/unicode/bidi/gen.go
  vendor/golang.org/x/text/unicode/bidi/gen_ranges.go
  vendor/golang.org/x/text/unicode/bidi/gen_trieval.go
  vendor/golang.org/x/text/unicode/norm/maketables.go
  vendor/golang.org/x/text/unicode/norm/triegen.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/XXL

#195 Correct typo
  pkg/sidecar-controller/snapshot_controller.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, size/XS

#197 master: update release-tools
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/S

#199 Correct typo
  pkg/utils/util_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/XS
