Repository kubernetes-csi/external-snapshotter, pull requests merged in 2020-11, with the labels that each got.

#423 Get credentials before checking if the SnapshotClass exists
  pkg/sidecar-controller/snapshot_controller.go
  pkg/sidecar-controller/snapshot_delete_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, release-note-none, size/XS

#426 Update release tools
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, size/XS

#357 change image pullpolicy from Always to IfNotPresent
  deploy/kubernetes/csi-snapshotter/setup-csi-snapshotter.yaml
  deploy/kubernetes/snapshot-controller/setup-snapshot-controller.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, size/XS

#430 Update release tools
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/M
