Repository kubernetes-csi/external-snapshotter, pull requests merged in 2020-02, with the labels that each got.

#250 Add delete snapshot controller UT
  pkg/common-controller/framework_test.go
  pkg/common-controller/snapshot_create_test.go
  pkg/common-controller/snapshot_delete_test.go
  pkg/common-controller/snapshot_finalizer_test.go
  pkg/common-controller/snapshot_update_test.go
  pkg/common-controller/snapshotclass_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, size/L

#254 Refactor common controller tests to use withXYZ functions and add tests
  pkg/common-controller/framework_test.go
  pkg/common-controller/snapshot_delete_test.go
  pkg/common-controller/snapshot_update_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, size/L

#255 master: update release-tools
  release-tools/README.md
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/build.make
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/L

#252 Added the feature to use secrets of ListSnapshots
  go.mod
  go.sum
  pkg/common-controller/snapshot_controller.go
  pkg/sidecar-controller/content_create_test.go
  pkg/sidecar-controller/csi_handler.go
  pkg/sidecar-controller/framework_test.go
  pkg/sidecar-controller/snapshot_controller.go
  pkg/sidecar-controller/snapshot_delete_test.go
  pkg/snapshotter/snapshotter.go
  pkg/snapshotter/snapshotter_test.go
  pkg/utils/util.go
  pkg/utils/util_test.go
  vendor/github.com/container-storage-interface/spec/lib/go/csi/csi.pb.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, size/XXL

#260 Update CRDs to include additional get information
  config/crd/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  config/crd/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  config/crd/snapshot.storage.k8s.io_volumesnapshots.yaml
  hack/update-crd.sh
  pkg/apis/volumesnapshot/v1beta1/types.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note, size/L

#249 Add VolumeSnapshotBeingDeleted annotation to content
  pkg/common-controller/snapshot_controller.go
  pkg/common-controller/snapshot_update_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, release-note-none, size/S
