Repository kubernetes-csi/external-snapshotter, pull requests merged in 2020-06, with the labels that each got.

#319 master: update release-tools, enable cloud build
  .cloudbuild.sh
  cloudbuild.yaml
  cmd/csi-snapshotter/Dockerfile
  cmd/snapshot-controller/Dockerfile
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/build.make
  release-tools/cloudbuild.sh
  release-tools/cloudbuild.yaml
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note, size/L

#320 master: update release-tools
  release-tools/build.make
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/S

#287 Updated sidecar to not require VolumeSnapshotClass for snapshot deletion
  pkg/sidecar-controller/content_create_test.go
  pkg/sidecar-controller/snapshot_controller.go
  pkg/sidecar-controller/snapshot_delete_test.go
Labels: approved, cncf-cla: yes, kind/flake, lgtm, ok-to-test, release-note, size/S

#322 master: update release-tools
  release-tools/cloudbuild.yaml
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/S
