Repository kubernetes-csi/external-snapshotter, pull requests merged in 2021-05, with the labels that each got.

#511 Cherry-picks of #409 and #439: Adding --http-endpoint to snapshot components
  README.md
  cmd/csi-snapshotter/main.go
  cmd/snapshot-controller/main.go
  go.mod
  go.sum
  pkg/common-controller/framework_test.go
  pkg/common-controller/snapshot_controller.go
  pkg/common-controller/snapshot_controller_base.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/utils/util.go
  pkg/validation-webhook/certwatcher.go
  vendor/github.com/kubernetes-csi/csi-lib-utils/connection/connection.go
  vendor/github.com/kubernetes-csi/csi-lib-utils/leaderelection/leader_election.go
  vendor/github.com/kubernetes-csi/csi-lib-utils/metrics/metrics.go
  vendor/github.com/kubernetes-csi/csi-lib-utils/rpc/common.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, release-note, size/XXL

#512 master: update release-tools
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
  release-tools/pull-test.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/L

#513 release-4.1: update release-tools
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
  release-tools/pull-test.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/L

#515 Update volumesnapshots request to list across all namespaces
  cmd/snapshot-controller/main.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, release-note-none, size/S

#518 Changelog 4.1.1
  CHANGELOG/CHANGELOG-4.1.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, release-note-none, size/S

#520 master: update release-tools + OWNERS
  OWNERS
  OWNERS_ALIASES
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/OWNERS
  release-tools/OWNERS_ALIASES
  release-tools/build.make
  release-tools/cloudbuild.yaml
  release-tools/prow.sh
  release-tools/verify-shellcheck.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/L

#521 release-4.1: update release-tools + OWNERS
  OWNERS
  OWNERS_ALIASES
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/OWNERS
  release-tools/OWNERS_ALIASES
  release-tools/build.make
  release-tools/cloudbuild.yaml
  release-tools/prow.sh
  release-tools/verify-shellcheck.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/L
