Repository kubernetes-csi/external-snapshotter, pull requests merged in 2021-02, with the labels that each got.

#468 master: update release-tools
  release-tools/README.md
  release-tools/boilerplate/boilerplate.py
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/S

#473 release-2.1: fix testing on Kubernetes 1.20
  .prow.sh
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, release-note-none, size/M

#466 Cherry pick of #287: Updated sidecar to not require VolumeSnapshotClass for snapshot deletion
  pkg/sidecar-controller/content_create_test.go
  pkg/sidecar-controller/snapshot_controller.go
  pkg/sidecar-controller/snapshot_delete_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note, size/S

#470 Retain CreateSnapshot error
  pkg/sidecar-controller/snapshot_controller.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note, size/XS

#474 support testing on Kubernetes 1.20
  .prow.sh
  release-tools/build.make
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/M

#476 Add changelog for v1.2.4
  CHANGELOG-2.1.md
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/S

#478 Cherrypick #335 - "Call dynamic VS content creation unconditionally"
  pkg/common-controller/framework_test.go
  pkg/common-controller/snapshot_controller.go
  pkg/common-controller/snapshot_update_test.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, release-note, size/M
