Repository kubernetes-csi/external-snapshotter, pull requests merged in 2021-11, with the labels that each got.

#601 Fix an issue where patch will fail when status is nil
  pkg/sidecar-controller/snapshot_controller.go
Labels: kind/bug, lgtm, approved, cncf-cla: yes, size/M, release-note-none

#604 Add short names for Volume Snapshot CRDs
  client/apis/volumesnapshot/v1/types.go
  client/apis/volumesnapshot/v1beta1/types.go
  client/config/crd/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  client/config/crd/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  client/config/crd/snapshot.storage.k8s.io_volumesnapshots.yaml
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v4/apis/volumesnapshot/v1/types.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v4/apis/volumesnapshot/v1beta1/types.go
Labels: kind/feature, lgtm, approved, cncf-cla: yes, size/M, release-note, ok-to-test

#609 Bump snapshot-controller and snapshotter deploy to v5-rc1
  deploy/kubernetes/csi-snapshotter/setup-csi-snapshotter.yaml
  deploy/kubernetes/snapshot-controller/setup-snapshot-controller.yaml
Labels: lgtm, approved, cncf-cla: yes, kind/cleanup, release-note-none, size/XS

#612 master: update release-tools
  client/apis/volumesnapshot/v1/zz_generated.deepcopy.go
  client/apis/volumesnapshot/v1beta1/zz_generated.deepcopy.go
  client/hack/tools.go
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v4/apis/volumesnapshot/v1/zz_generated.deepcopy.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v4/apis/volumesnapshot/v1beta1/zz_generated.deepcopy.go
Labels: lgtm, approved, cncf-cla: yes, size/M, release-note-none

#607 Add short names for Volume Snapshot CRDs
  client/apis/volumesnapshot/v1/types.go
  client/apis/volumesnapshot/v1beta1/types.go
  client/config/crd/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  client/config/crd/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  client/config/crd/snapshot.storage.k8s.io_volumesnapshots.yaml
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v4/apis/volumesnapshot/v1/types.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v4/apis/volumesnapshot/v1beta1/types.go
Labels: kind/feature, lgtm, approved, cncf-cla: yes, size/M, release-note, ok-to-test

#588 Update CertificateSigningRequest apiversion to V1
  deploy/kubernetes/webhook-example/create-cert.sh
Labels: lgtm, approved, cncf-cla: yes, release-note-none, size/XS

#618 release-4.2: update release-tools
  client/apis/volumesnapshot/v1/zz_generated.deepcopy.go
  client/apis/volumesnapshot/v1beta1/zz_generated.deepcopy.go
  client/hack/tools.go
  release-tools/README.md
  release-tools/SECURITY_CONTACTS
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/build.make
  release-tools/cloudbuild.yaml
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v4/apis/volumesnapshot/v1/zz_generated.deepcopy.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v4/apis/volumesnapshot/v1beta1/zz_generated.deepcopy.go
Labels: lgtm, approved, cncf-cla: yes, size/L, release-note-none

#619 release-5.0: update release-tools
  client/apis/volumesnapshot/v1/zz_generated.deepcopy.go
  client/apis/volumesnapshot/v1beta1/zz_generated.deepcopy.go
  client/hack/tools.go
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v4/apis/volumesnapshot/v1/zz_generated.deepcopy.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v4/apis/volumesnapshot/v1beta1/zz_generated.deepcopy.go
Labels: lgtm, approved, cncf-cla: yes, size/M, release-note-none

#617 release-4.1: update release-tools
  client/apis/volumesnapshot/v1/zz_generated.deepcopy.go
  client/apis/volumesnapshot/v1beta1/zz_generated.deepcopy.go
  client/hack/tools.go
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v4/apis/volumesnapshot/v1/zz_generated.deepcopy.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v4/apis/volumesnapshot/v1beta1/zz_generated.deepcopy.go
Labels: lgtm, approved, cncf-cla: yes, size/M, release-note-none

#606 Add kustomization manifests to CRDs and controller components
  README.md
  client/config/crd/kustomization.yaml
  deploy/kubernetes/csi-snapshotter/kustomization.yaml
  deploy/kubernetes/csi-snapshotter/setup-csi-snapshotter.yaml
  deploy/kubernetes/snapshot-controller/kustomization.yaml
Labels: lgtm, approved, cncf-cla: yes, release-note, size/S, kind/design, ok-to-test

#613 Merge pull request #588 from Kartik494/ValidateWebhook
  deploy/kubernetes/webhook-example/create-cert.sh
Labels: lgtm, approved, cncf-cla: yes, release-note, size/XS
