Repository kubernetes-csi/external-snapshotter, pull requests merged in 2021-03, with the labels that each got.

#479 Move snapshot validations to validation-webhook directory
  pkg/common-controller/snapshot_controller.go
  pkg/utils/util.go
  pkg/validation-webhook/snapshot.go
  pkg/validation-webhook/validation.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, size/L

#483 master: update release-tools + dependencies
  go.mod
  go.sum
  release-tools/README.md
  release-tools/build.make
  release-tools/cloudbuild.yaml
  release-tools/prow.sh
  release-tools/travis.yml
  release-tools/verify-go-version.sh
Labels: approved, cncf-cla: yes, lgtm, release-note, size/M

#486 master: update release-tools
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/M

#488 Cherrypicks to prepare for 2.1.5
  CHANGELOG-2.1.md
  go.sum
  pkg/common-controller/snapshot_controller.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, release-note-none, size/M
