Repository kubernetes-csi/external-snapshotter, pull requests merged in 2022-08, with the labels that each got.

#740 master: update release-tools
  release-tools/filter-junit.go
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
Labels: lgtm, approved, cncf-cla: yes, size/M, release-note-none

#742 release-4.2: update release-tools
  release-tools/filter-junit.go
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
Labels: lgtm, approved, cncf-cla: yes, size/M, release-note-none

#743 release-5.0: update release-tools
  release-tools/filter-junit.go
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
Labels: lgtm, approved, cncf-cla: yes, size/M, release-note-none

#739 Improve README
  README.md
Labels: lgtm, approved, cncf-cla: yes, kind/cleanup, release-note-none, size/XS

#752 Update release-tools
  release-tools/prow.sh
Labels: lgtm, approved, cncf-cla: yes, release-note-none, size/S
