Repository kubernetes-csi/external-snapshotter, pull requests merged in 2023-05, with the labels that each got.

#825 add groupsnapshot related webhooks
  deploy/kubernetes/webhook-example/admission-configuration-template
  deploy/kubernetes/webhook-example/rbac-snapshot-webhook.yaml
  pkg/utils/util.go
  pkg/validation-webhook/groupsnapshot.go
  pkg/validation-webhook/groupsnapshot_test.go
  pkg/validation-webhook/snapshot.go
  pkg/validation-webhook/snapshot_test.go
  pkg/validation-webhook/validation.go
  pkg/validation-webhook/webhook.go
  pkg/validation-webhook/webhook_test.go
Labels: kind/feature, lgtm, approved, cncf-cla: yes, size/XXL, release-note, ok-to-test

#838 add "document-start" 1st line to all yaml files
  .github/workflows/dependabot.yaml
  .github/workflows/trivy.yaml
  client/config/crd/kustomization.yaml
  deploy/kubernetes/csi-snapshotter/kustomization.yaml
  deploy/kubernetes/csi-snapshotter/rbac-csi-snapshotter.yaml
  deploy/kubernetes/csi-snapshotter/rbac-external-provisioner.yaml
  deploy/kubernetes/snapshot-controller/kustomization.yaml
  deploy/kubernetes/snapshot-controller/rbac-snapshot-controller.yaml
  deploy/kubernetes/webhook-example/rbac-snapshot-webhook.yaml
  deploy/kubernetes/webhook-example/webhook.yaml
  examples/kubernetes/invalid-snapshot-v1.yaml
  examples/kubernetes/pvc.yaml
  examples/kubernetes/restore.yaml
  examples/kubernetes/snapshot-v1.yaml
  examples/kubernetes/snapshotclass-v1.yaml
  examples/kubernetes/storageclass.yaml
Labels: lgtm, approved, cncf-cla: yes, kind/cleanup, release-note-none, size/S

#841 Add changelog for 6.2.2.
  CHANGELOG/CHANGELOG-6.2.md
Labels: lgtm, approved, cncf-cla: yes, size/M, release-note-none
