Repository kubernetes-csi/external-snapshotter, pull requests merged in 2023-04, with the labels that each got.

#828 Update dependency go modules for k8s v1.27.0
  go.mod
  go.sum
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/filter-junit.go
  release-tools/prow.sh
  vendor/modules.txt
Labels: lgtm, approved, cncf-cla: yes, size/L, release-note-none

#830 Update csi-release-tools
  release-tools/build.make
  release-tools/cloudbuild.yaml
Labels: lgtm, approved, cncf-cla: yes, kind/cleanup, release-note-none, size/XS

#829 Switch to using google.golang.org/protobuf rather than github.com/golang/protobuf
  go.mod
  pkg/snapshotter/snapshotter.go
  pkg/snapshotter/snapshotter_test.go
Labels: lgtm, approved, cncf-cla: yes, size/M, kind/cleanup, release-note-none, ok-to-test
